<ion-view>
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
    </ion-nav-title>
	  <ion-nav-buttons side="right">
	    <button class="button button-icon button-clear icon-right ion-android-done fuente-total" ng-click="saveProfile()" menu-toggle="right">
	    </button>
	  </ion-nav-buttons>
  <ion-content>
	<div id="edit-profile">
		<header class="title padding">
			<h1>Tell Us About Yourself</h1>
			<h2>Enter your details below:</h2>
		</header>
			<form name="profile.editProfile">
			<div class="list">
				<div class="item item-divider">
					Details
				</div>
				<div class="profileavatar">
					<img ng-src="{{globals.currentUser.picture || 'img/blank.gif'}}">
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Full Name</span>
					<input type="text" ng-model="profile.data.fullname">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Date of Birthday</span>
					<input type="date" ng-model="profile.data.dob">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						Gender
					</div>
					<select ng-model="profile.data.gender">
						<option value="">Not disclose</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</label>
				<div class="item item-divider">
					Preferences
				</div>
				<div>
					<ion-checkbox class="checkbox-royal" ng-model="profile.data.preferences.vegetarian">Vegetarian</ion-checkbox>
					<ion-checkbox class="checkbox-royal" ng-model="profile.data.preferences.gluteFree">Gluten-free</ion-checkbox>
					<ion-checkbox class="checkbox-royal" ng-model="profile.data.preferences.dairyFree">Dairy-free</ion-checkbox>
					<ion-checkbox class="checkbox-royal" ng-model="profile.data.preferences.vegan">Vegan</ion-checkbox>
					<ion-checkbox class="checkbox-royal" ng-model="profile.data.preferences.nutsFree">Nuts-free</ion-checkbox>
				</div>
				<div class="item item-divider">
					Credit Card
				</div>
				<div class="padding">
					<div ng-if="globals.currentUser.has_customertoken">
						<p>Card type: {{globals.currentUser.stripe_data.sources.data[0].brand}}</p>
						<p>Card Number: **** **** **** {{globals.currentUser.stripe_data.sources.data[0].last4}}</p>
						<a href="#app/add-card" class="button button-block button-royal">
							Edit Credit Card
						</a>
					</div>	
					<div ng-if="!globals.currentUser.has_customertoken">
						<a href="#app/add-card" class="button button-block button-royal">
							Add Credit Card
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
  </ion-content>
</ion-view>