<ion-view view-title="Near places" hide-back-button="true">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
	</ion-nav-title>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button ng-click="goToOrder()" ng-if="order.appTotal>0 && !order.is_paid" class="button button-icon button-clear icon-right ion-ios-cart fuente-total">
          {{order.appTotal | number:0}}
        </button>
      </ion-nav-buttons>
		<ion-pane class="loader" ng-if="!loaded">
			<ion-spinner></ion-spinner>
			<p ng-if="!getlocation">Getting Location...</p>
		</ion-pane>
	<ion-content  class="viewbg"  scrollbar-y="false">
		<ion-refresher
			spinner=""
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh()">
		</ion-refresher>
		<div ng-if="loaded" style="padding-bottom:20px">
			<h2 class="titulo-near">Places near you <i class="icon ion-navigate color-naranja"></i></h2>

			<div class="list card cardvenue"  ng-repeat="place in places">
				<a class="item item-image" href="#/app{{place.menu_url}}" ng-style="venueImage" ion-track-tap="Tap Restaurant" ion-track-data="{ name: place.name, id: place.rest_id }">
					<img ng-src="{{place.picture}}" err-src >
				</a>
				<a class="item" href="#/app{{place.menu_url}}" ion-track-tap="Tap Restaurant" ion-track-data="{ name: place.name, id: place.rest_id }">
					<h2>{{place.name}} <img src="img/closed.png" alt="" class="imgresponse" ng-if="!place.is_open"/></h2>
					<div class="row">
						<div class="col col-80">
							{{place.street_address}}
						</div>
						<div class="col col-20 text-alig-right">
							<i class="icon ion-navigate color-naranja"></i>
							{{place.distance_to/1000*0.621371}}mi
						</div>
					</div>
				</a>
			</div>
		</div>
		<ion-infinite-scroll
			ng-if="moreDataCanBeLoaded"
			on-infinite="loadMore()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>