<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button  ng-click="goToOrder()" ng-if="order.total>0 && !order.is_paid" class="button button-icon button-clear icon-right ion-ios-cart fuente-total">
          ${{order.total*(1+order.tax_rate) | number:2}}
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="appContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <ion-content>
      <div class="avatar">
        <img ng-src="{{globals.currentUser.picture.data.url}}" alt="">
        <h1>{{globals.currentUser.name}}</h1>
      </div>
      <div class="padding">
        <div class="logfb" ng-if="globals.currentUser.isguest">
          <p><a menu-close class="button button-royal button-outline" href="#/app/home">Places Near Me</a></p>
          <p><a menu-close class="button button-royal button-outline" href="#/app/order/confirm">View Order</a></p>
          <p><a class="button button-royal button-outline" ng-click="login('menu')">Login with Facebook</a></p>
        </div>
        <div class="logout" ng-if="!globals.currentUser.isguest">
          <p><a menu-close class="button button-royal button-outline" href="#/app/home">Places Near Me</a></p>
          <!-- <p><a menu-close class="button button-royal button-outline" ng-click="getUser()">getOrder</a></p> -->
          <!-- <p><a menu-close class="button button-royal button-outline" href="#/app/edit-profile">Edit Profile</a></p> -->
          <p><a menu-close class="button button-royal button-outline" href="#/app/add-card">Add Credit Card</a></p>
          <!-- <p><a menu-close class="button button-royal button-outline" href="#/app/order/payment">View Order</a></p> -->
          <p><a menu-close class="button button-royal button-outline" ng-click="logout()">Logout</a></p>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>