<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button  ng-click="goToOrder()" ng-if="order.appTotal>0 && !order.is_paid" class="button button-icon button-clear icon-right ion-ios-cart fuente-total">
          {{order.appTotal | number:0}}
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="appContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side-menu">
    <ion-content>

      <ion-list>
      <div class="item item-avatar">
        <img ng-src="{{globals.currentUser.picture || 'img/blank.gif'}}">
        <h2>{{globals.currentUser.fullname}}</h2>
        <p></p>
      </div>
        <div class="logfb" ng-if="globals.currentUser.isguest">
          <ion-item menu-close href="#/app/home">
            Home
          </ion-item>
          <ion-item menu-close ng-click="goToOrder()" ng-if="order.appTotal>0 && !order.is_paid">
            Order
          </ion-item>
          <ion-item menu-close ng-click="login('menu')">
            Login with Facebook
          </ion-item>
          <ion-item menu-close ng-click="emailLogin('menu')">
            Login with Email
          </ion-item>
          <ion-item menu-close ng-click="emailSignUp('menu')">
            Or Sign Up
          </ion-item>
        </div>

        <div ng-if="!globals.currentUser.isguest">
          <ion-item menu-close href="#/app/home">
            Home
          </ion-item>
          <ion-item menu-close href="#/app/edit-profile">
            Profile
          </ion-item>
          <ion-item menu-close href="#/app/search">
            Search
          </ion-item>
          <ion-item menu-close ng-if="order.appTotal>0 && !order.is_paid" ng-click="goToOrder()">
            Order
          </ion-item>
          <ion-item menu-close href="#/app/receipts">
            Order History
          </ion-item>
          <ion-item menu-close ng-click="logout()">
            Logout
          </ion-item> 
        </div>   
          <!-- <ion-item menu-close href="#/app/debug">DEBUG</ion-item> -->

      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>