<ion-view view-title="Payment" hide-back-button="true">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
	</ion-nav-title>
	  <ion-nav-buttons side="left">
	    <button class="button button-icon button-clear icon-right ion-close fuente-total" ng-click="goHome()">
	    </button>
	  </ion-nav-buttons>
	  <ion-nav-buttons side="right">
	    <button class="button button-icon button-clear icon-right ion-arrow-right-c fuente-total" ng-click="goPayment()">
	    </button>
	  </ion-nav-buttons>
	<ion-content>
		<div class="row pasos">
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Personal</div>
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Card</div>
			<div class="col-25 col"><span class="circle active">3</span>Confirm</div>
			<div class="col-25 col"><span class="circle">4</span>Payment</div>
		</div>
		<div class="emptyorder padding" ng-if="!order.restaurant.name">
			<h1>Your Order is Empty</h1>
          	<p><a class="button button-royal button-outline" href="#/app/home">Places Near Me</a></p>
		</div>
		<div class="order" ng-if="order.restaurant.name">
			<div class="restaurant padding">
				<h1>{{order.restaurant.name}}</h1>
				<!-- <h2>618 Brooklin boulevard Pittsburg, PA</h2> -->
			</div>
			<div class="plates">
				<div class="plate" ng-repeat="plate in order.order_plates">

					<div class="row options">
						<div class="col col-80">
							<div class="list">
							  <label class="item item-input item-select_">
							    <div class="input-label">
							      Quantity: {{plate.quantity}}
							    </div>
<!-- 								<select ng-model="plate.quantity" ng-options="toInt(key) as value for (key,value) in myOptions" ng-change="changeItem(plate.menu_item, order.restaurant)">
									<option value="">Select Value</option>
								</select> -->
							  </label>
							</div>
						</div>
						<div class="col col-20 order_price">
							<i class='icon ion-minus-circled' ng-click="removeItem(plate.menu_item, order.restaurant)" ng-click="removeItem(plate.menu_item, order.restaurant)"></i>
							<i class='icon ion-plus-circled' ng-click="addItem(plate.menu_item, order.restaurant)"></i>
						</div>
					</div>
					<div class="row">
						<div class="col col-80">
							{{plate.menu_item.name}}
						</div>
						<div class="col col-20 order_price_">
							${{plate.menu_item.price}}
						</div>
					</div>
				</div>
			</div>
			<div class="totals">
				<div class="row">
					<div class="col col-80">
						Subtotal
					</div>
					<div class="col col-20 order_price_">
						${{order.total}}
					</div>
				</div>
<!-- 				<div class="row">
					<div class="col col-80">
						Delivery
					</div>
					<div class="col col-20 order_price">
						$13.99
					</div>
				</div> -->
				<div class="row">
					<div class="col col-80">
						Tax
					</div>
					<div class="col col-20 order_price_">
						${{order.tax_rate || 0}}
					</div>
				</div>
<!-- 				<div class="row">
					<div class="col col-80">
						Tip
					</div>
					<div class="col col-20 order_price">
						$
					</div>
				</div> -->
				<div class="row">
					<div class="col col-80">
							Total
					</div>
					<div class="col col-20 order_price_">
						<strong>${{order.total+order.tax_rate}}</strong>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>