<ion-view view-title="Review" hide-back-button="true">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
	</ion-nav-title>
	  <ion-nav-buttons side="right">
	    <button class="button button-icon button-clear icon-right ion-android-close fuente-total" ng-click="goHomeRate()">
	    </button>
	  </ion-nav-buttons>		
	<ion-content>
		<div class="row pasos">
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Personal</div>
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Card</div>
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Confirm</div>
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Payment</div>
		</div>
		<header class="title padding">
			<h1>Success</h1>
			<h2>Thanks for using Bitely<h2>
		</header>
		<div class="order" ng-if="order.restaurant.name">
			<div class="restaurant padding">
				<h1>{{order.restaurant.name}}</h1>
			</div>
			<div class="plates">
				<div class="plate" ng-repeat="plate in order.order_plates track by $index" ng-if="plate.quantity>0">
					<div class="row">
						<div class="col col-10">
							{{plate.quantity}}x
						</div>
						<div class="col platename">
							<strong>{{plate.menu_item.name}}</strong>
						</div>
						<div class="col col-20 order_price_">
							<span ng-if="plate.menu_item.price">${{plate.menu_item.price | number:2}}</span>
						</div>
					</div>
						<div class="row optionrow" ng-repeat="option in plate.options" ng-if="option.name">
							<div class="col col-80">
								<div class="row">
									<div class="col col-10">
										
									</div>
									<div class="col col-90">
										{{option.name}}
									</div>
								</div>
							</div>
							<div class="col col-20 order_price_">
								<span ng-if="option.price">${{option.price | number:2}}</span>
							</div>
						</div>
					<div class="row ratepay" ng-controller="rateController">
						<div class="col col-10"></div>
						<div class="col">
							<rating ng-model="rate" max="5" ng-change="hechanged(plate.menu_item.key)"></rating>
						</div>
					</div>
				</div>
			</div>
			<div class="totals" ng-if="order.tip == 0">
				<div class="row">
					<div class="col col-80">
						Would you like to add tip:
					</div>
					<div class="col col-20 order_price_">
						${{tip.tip | number:2}}
					</div>
				</div>			
				<div class="row">
					<div class="button-bar">
						<a class="button" ng-click="addTip(0)" ng-class="{active: tip.porc === 0}">0%</a>
						<a class="button" ng-click="addTip(15)" ng-class="{active: tip.porc === 15}">15%</a>
						<a class="button" ng-click="addTip(18)" ng-class="{active: tip.porc === 18}">18%</a>
						<a class="button" ng-click="addTip(20)" ng-class="{active: tip.porc === 20}">20%</a>
					</div>
				</div>
			</div>				
			<div class="totals">
				<div class="row">
					<div class="col col-80">
						Subtotal
					</div>
					<div class="col col-20 order_price_">
						${{order.sub_total | number:2}}
					</div>
				</div>
				<div class="row">
					<div class="col col-80">
						Tax
					</div>
					<div class="col col-20 order_price_">
						${{order.tax || 0 | number:2}}
					</div>
				</div>
 				<div class="row" ng-if="order.tip != 0">
					<div class="col col-80">
						Tip
					</div>
					<div class="col col-20 order_price_">
						${{order.tip || 0 | number:2}}
					</div>
				</div> 
				<div class="row">
					<div class="col col-80">
							Total
					</div>
					<div class="col col-20 order_price_">
						<strong>${{order.total_paid | number:2}}</strong>
					</div>
				</div>
			</div>
	</ion-content>
</ion-view>