<ion-view view-title="Payment" hide-back-button="true">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
	</ion-nav-title>
	  <ion-nav-buttons side="right">
	    <button class="button button-icon button-clear icon-right ion-arrow-right-c fuente-total" ng-click="goReview()">
	    </button>
	  </ion-nav-buttons>
	<ion-content>
		<div class="row pasos">
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Personal</div>
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Card</div>
			<div class="col-25 col"><span class="circle active">3</span>Payment</div>
			<div class="col-25 col"><span class="circle">4</span>Review</div>
		</div>

		<div class="order">
			<div class="restaurant padding">
				<h1>Vinny's Pizza</h1>
				<h2>618 Brooklin boulevard Pittsburg, PA</h2>
			</div>
			<div class="plates">
				<div class="plate">
					<div class="row options">
						<div class="col col-80">
							<div class="list">
							  <label class="item item-input item-select">
							    <div class="input-label">
							      Quantity
							    </div>
							    <select>
							      <option>1</option>
							      <option selected>2</option>
							      <option>3</option>
							      <option>93</option>
							    </select>
							  </label>
							</div>
						</div>
						<div class="col col-20 price">
							<i class='icon ion-close'></i>
						</div>
					</div>
					<div class="row">
						<div class="col col-80">
							Chicken
						</div>
						<div class="col col-20 price">
							$13.99
						</div>
					</div>
					<div class="row">
						<div class="col col-80">
							Extra Crispy
						</div>
						<div class="col col-20 price">
							$4.99
						</div>
					</div>
				</div>
				<div class="plate">
					<div class="row options">
						<div class="col col-80">
							<div class="list">
							  <label class="item item-input item-select">
							    <div class="input-label">
							      Quantity
							    </div>
							    <select>
							      <option>1</option>
							      <option selected>2</option>
							      <option>3</option>
							      <option>93</option>
							    </select>
							  </label>
							</div>
						</div>
						<div class="col col-20 price">
							<i class='icon ion-close'></i>
						</div>
					</div>					
					<div class="row">
						<div class="col col-80">
							Chicken Wing
						</div>
						<div class="col col-20 price">
							$13.99
						</div>
					</div>
					<div class="row">
						<div class="col col-80">
							Extra Crispy
						</div>
						<div class="col col-20 price">
							$4.99
						</div>
					</div>					
				</div>
			</div>
			<div class="totals">
				<div class="row">
					<div class="col col-80">
						Subtotal
					</div>
					<div class="col col-20 price">
						$13.99
					</div>
				</div>
				<div class="row">
					<div class="col col-80">
						Delivery
					</div>
					<div class="col col-20 price">
						$13.99
					</div>
				</div>
				<div class="row">
					<div class="col col-80">
						Tax
					</div>
					<div class="col col-20 price">
						$13.99
					</div>
				</div>
				<div class="row">
					<div class="col col-80">
						Tip
					</div>
					<div class="col col-20 price">
						$13.99
					</div>
				</div>
				<div class="row">
					<div class="col col-80">
							Total
					</div>
					<div class="col col-20 price">
						<strong>$13.99</strong>
					</div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>