<ion-view view-title="Review" hide-back-button="true">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
	</ion-nav-title>
	  <ion-nav-buttons side="right">
	    <button class="button button-icon button-clear icon-right ion-checkmark fuente-total" ng-click="doPay()">
	    </button>
	  </ion-nav-buttons>		
	<ion-content>
		<div class="row pasos">
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Personal</div>
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Card</div>
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Confirm</div>
			<div class="col-25 col"><span class="circle active">4</span>Payment</div>
		</div>
		<div class="padding">
			<h3>Payment</h3>
		</div>
			<form name="">
				<div class="list">
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Would you like to add a tip:</span>
				    <input type="number" ng-model="tip.tip">
				  </label>
				</div>
			</form>
	</ion-content>
</ion-view>