<ion-view>
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
    </ion-nav-title>
      <ion-nav-buttons side="right">
        <button ng-click="goToOrder()" ng-if="order.total>0 && !order.is_paid" class="button button-icon button-clear icon-right ion-ios-cart fuente-total">
          ${{order.total*(1+order.tax_rate) | number:2}}
        </button>
      </ion-nav-buttons> 
	<ion-pane class="loader" ng-if="!loaded">
	  	<ion-spinner></ion-spinner>
	</ion-pane>	    
  <ion-content>
  <div ng-if="loaded">
  <img ng-src="{{plate.image}}" alt="" class="venue-img">
	  <div class="padding" id="plate">
	  	<header>
	  		<div class="row">
	  			<div class="col col-80">
	  				<h1>{{plate.name}}</h1>
					<h2><a href="#/app/venue/{{plate.restaurant.pid}}">{{plate.restaurant.name}}</a></h2>
	  			</div>
	  			<div class="col col-20">
					<h3>{{plate.price}}$</h3>
					{{plate.rating_average}}
	  			</div>
	  		</div>
	  	</header>
	  	<p class="description">{{plate.description}}</p>
	  	<a bg-click="order({{plate.pid}})" class="order"><img src="img/order_orange.png" alt=""></a>
	  </div>
	</div>
  </ion-content>
</ion-view>