<ion-view>
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
    </ion-nav-title>
      <ion-nav-buttons side="left">
        <a href="#/app/menu/{{plate.restaurant.restaurant_id}}/{{plate.restaurant.name}}" class="button button-icon button-clear icon-right ion-ios-arrow-left">
        </a>
      </ion-nav-buttons>    
      <ion-nav-buttons side="right">
        <button ng-click="goToOrder()" ng-if="order.appTotal>0 && !order.is_paid" class="button button-icon button-clear icon-right ion-ios-cart fuente-total">
          {{order.appTotal | number:0}}
        </button>
      </ion-nav-buttons> 
	<ion-pane class="loader" ng-if="!loaded">
	  	<ion-spinner></ion-spinner>
	</ion-pane>	    
  <ion-content scrollbar-y="false">
  <div ng-if="loaded">
  <img ng-src="{{plate.picture || 'img/no_image.jpg' }}" class="venue-img"  err-src>
	  <div class="padding" id="plate">
	  	<header>
	  		<div class="row">
	  			<div class="col col-75">
	  				<h1>{{plate.name || plate.text}}</h1>
					<h2><a href="#/app/menu/{{plate.restaurant.restaurant_id}}/{{plate.restaurant.name}}">{{plate.restaurant.name}}</a></h2>
	  			</div>
	  			<div class="col col-25 ratingplate">
					<h3><span ng-if="plate.price">${{plate.price | number:2}}</span></h3>
                  <div >
                    <img style="float:right" ng-src="img/rating{{ Math.round(plate.rating_average*2)*5 ||'none' }}.png" class="ratingimg">
                  </div>
	  			</div>
	  		</div>
	  	</header>
	  	<p class="description">{{plate.description}}</p>
	  	<a ng-if="plate.restaurant.is_open" ng-click="sendOrder(plate,restaurant)" class="order"><img src="img/order_orange.png" alt=""></a>
	  </div>

        <ion-list ng-if="plate.pairings.length>0">
          <div>
            <div class="item-accordion" >
              <div style="padding-top:10px;"></div>
              <div>
                <div class="sectionani clearfix" class="" ng-animate-children>
                  <div class="item item-divider">
                    You should also try
                  </div>
                  <div class="venuerowrow">
                    <div class="venuecol" ng-repeat="pairing in plate.pairings">
                      <div class="card" ng-click="!pairing.key || goPlate(pairing.key)" ion-track-tap="Tap Plate" ion-track-data="{ plate: {name: pairing.name, key: pairing.key}, restaurant: {name: pairing.restaurant.name, id: pairing.restaurant.restaurant_id} }">
                        <div class="item item-image venueimage" ng-style="plateImage">
                          <img ng-src="{{pairing.picture || 'img/no_image.jpg'}}" err-src>
                          <div class="degradacion"></div>
                          <a class="button button-icon ion-ios-plus-outline royal button_ boton-order-venue" ng-click="sendOrder(pairing, $event)" ng-if="plate.restaurant.is_open && (pairing.key || pairing.option_groups)"></a>
                          <p class="price" ng-if="pairing.price">{{menu.currency_symbol}}{{pairing.price | number:2}}</p>
                        </div>
                        <div class="item itemmenospadding">{{pairing.name || pairing.text || '&nbsp;'}}
                        </div>
                        <div class="item itemvenue">
                          <img ng-src="img/rating{{ Math.round(pairing.rating_average*2)*5 ||'none' }}.png" class="ratingimg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-list>

	</div>
  </ion-content>
</ion-view>