<ion-view view-title="Near places" hide-back-button="true">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
	</ion-nav-title>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button ng-click="goToOrder()" ng-if="order.appTotal>0 && !order.is_paid" class="button button-icon button-clear icon-right ion-ios-cart fuente-total">
          {{order.appTotal | number:0}}
        </button>
      </ion-nav-buttons>
		<ion-pane class="loader" ng-if="!loaded">
			<ion-spinner></ion-spinner>
		</ion-pane>	      
	<ion-content  class="viewbg_">
		<ul class="list" ng-if="loaded">
        <a href="#/app/home" ng-if="orders.length < 1">You haven't ordered anything yet.</a>
    		<a class="item item-avatar_" ng-repeat="order in orders" href="#/app/orderid/{{order.key}}">
      			<h2>{{order.restaurant.name}}</h2>
      			<p>{{order.time_paid | date:'medium'}}</p>
    		</a>
		</ul>
	</ion-content>
</ion-view>