<ion-view name="full-container">
	<ion-pane class="padding" id="splash">
		<div id="imgbg"></div>
		<img src="img/logo_splash.png" class="logo_splash">
		<p><a ng-click="login('home')"><img src="img/facebook.png" alt="facebook"></a></p>
		<p class="asguest centered"><a class="button button-clear" ng-click="emailLogin('home')">Login</a> <a class="button button-clear" ng-click="emailSignUp('home')">Sign Up With Email</a></p>
		<p class="asguest"><a class="button button-full button-clear" ng-click='asGuest()'>Enter As Guest</a></p>
		<!-- <p><a class="button button-full button-clear" ng-click="fakebook('home')">FAKEBOOK</a></p> -->
	</ion-pane>	
</ion-view>