<ion-view view-title="{{venue.name}}" hide-nav-bar="true">
<ion-header-bar align-title="left" class="bar-royal sinborder barraespecial">
  <div class="buttons">
   <a ng-click="goHome()" class="button button-icon button-clear icon-left ion-ios-arrow-left"></a>
  </div>
  <h1 class="title titlemargin" ng-class="{'titlemargintiene' : (order.appTotal>0 && !order.is_paid)}">{{venue.name}}</h1>
  <div class="buttons">
    <button ng-click="goToOrder()" ng-if="order.appTotal>0 && !order.is_paid" class="button button-icon button-clear icon-right ion-ios-cart fuente-total">
      ${{order.appTotal | number:2}}
    </button>    
    <button class="button button-icon icon ion-android-more-horizontal" ng-if="menus.length>1"  ng-click="popover.show($event)">
    </button>
  </div>
</ion-header-bar>	
<ion-scroll zooming="false" direction="x" style="width:100%;" scrollbar-x="false" has-bouncing="false" class="secmenu" delegate-handle="submenu">
<div class="lassections">
    <a 
          ng-repeat="section in menu.sections"
          ng-click="activarSection(section)"
          ng-class="{active: isSectionShown(section)}">
    {{section.section_name || 'Section '+$index}}
    </a>
  </div>
</ion-scroll> 
	<ion-pane class="loader" ng-if="!loaded">
	  	<ion-spinner></ion-spinner>
	</ion-pane>
  <ion-content scrollbar-y="false" class="noheaderpad viewbg" delegate-handle="venueContent" has-bouncing="false" fade-image scroll-event-interval="5" id="venuecontent">
  <div class="error padding" ng-if="error">
  	<h2>{{error.data.message}}</h2>
  </div>
  <div ng-show="loaded && !error">
  
  <div id="venue">
    <header>
      <div class="header-fader" ng-style="venueImageInner">
        <img ng-src="{{venue.picture || 'img/no_image.jpg' }}"  class="venue-img" err-src>
          <div class="degtop"></div>
          <div class="nombrerest">
            <h1>{{venue.name}}</h1>
            <p class="address">{{venue.street_address}}</p>
          </div>
      </div>
    </header>    
  	  <ion-list>
        <div>
          <div ng-show="isGroupShown(menu)" class="item-accordion" style="min-height:{{todoAlto-44}}px" >
            <div style="padding-top:10px;"></div>
				<div>
          <div class="sectionani clearfix" ng-repeat="subsection in menu.section.subsections" class="" ng-animate-children>
          <div class="item item-divider" ng-if="subsection.subsection_name">
            {{subsection.subsection_name}}
          </div>
            
              <div class="venuerowrow">
              <div class="venuecol" ng-repeat="plate in subsection.contents"   >
                    <div class="card" ng-click="!plate.key || goPlate(plate.key)">
                  <div class="item item-image venueimage" ng-style="plateImage">
                    <img ng-src="{{plate.picture || 'img/no_image.jpg'}}" err-src>
                    <div class="degradacion"></div>
                   <a class="button button-icon ion-ios-plus-outline royal button_ boton-order-venue" ng-click="sendOrder(plate, $event)" ng-if="plate.key || plate.option_groups"></a>
                    <p class="price" ng-if="plate.price">{{menu.currency_symbol}}{{plate.price | number:2}}</p>
                  </div>
                  <div class="item itemmenospadding">{{plate.name || plate.text}}
                  </div>
                  <div class="item itemvenue">
                    <img ng-src="img/rating{{ Math.round(plate.rating_average*2)*5 ||'none' }}.png" class="ratingimg">
                  </div>
                </div>
              </div>
            </div>
          </div>
						</ion-list>
				</div>
			</div>
        </div>
      </ion-list>
  	</div>
  	</div>
  </ion-content>
</ion-view>