<ion-view>
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
    </ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear icon-right ion-ios-cart fuente-total" menu-toggle="right">
	      {{orderTotal}}$
		</button>
	</ion-nav-buttons>
	
	<ion-pane class="loader" ng-if="!loaded">
	  	<ion-spinner></ion-spinner>
	</ion-pane>

  <ion-content>
  <div ng-if="loaded">
  <img ng-src="{{venue.image}}" alt="" class="venue-img">
  <div id="venue">
  	<div class="padding">
  	<header>
  		<div class="row">
  			<div class="col col-80">
				<h1>{{venue.name}}</h1>
				<p class="address">{{venue.street_address}}</p>
  			</div>
  			<div class="col col-20 text-alig-right distance">
				<p><i class="icon ion-navigate color-naranja"></i>
	   			{{venue.distance_to}}m</p>
  			</div>
  		</div>
  	</header>		
  	<p class="description">{{venue.description}}</p>
  	</div>
		<div ng-repeat="menu in venue.menus" id="menu">
			<div ng-repeat="section in menu.sections">
				<h2>{{section.section_name}}</h2>
				<div ng-repeat="subsection in section.subsections">
					<h3>{{subsection.subsection_name}}</h3>
				  	<ion-scroll class="sinpadd rowvenue" zooming="false" direction="x" style="width: 100%;" scrollbar-x="false">
				  		<div class="row">
				 			<div class="col col-45" ng-repeat="plate in subsection.contents">
			        			<div class="list card">
									<div class="item item-image">
			       						<a href="#/app/plate/{{plate.key}}">
											<img ng-src="{{plate.image}}">
										</a>
										<button class="button icon ion-android-send boton-order-venue" ng-click="sendOrder(plate.key, plate.option_groups)"></button>
									</div>
									<div class="item itemmenospadding">
			       						<a href="#/app/plate/{{plate.key}}">
											{{plate.name}}
										</a>
									</div>
								</div>
							</div>
						</div>
						</ion-scroll>		
				</div>
			</div>
		</div>
  	</div>
  	</div>
  </ion-content>
</ion-view>