<ion-view view-title="Review" hide-back-button="true">
	<ion-nav-title>
		<div class="hlogo">
			<a href="#/app/home"><img src="img/logo_header.png" alt=""></a>
		</div>
	</ion-nav-title>
	  <ion-nav-buttons side="left">
	    <button class="button button-icon button-clear icon-right ion-arrow-left-c fuente-total" ng-click="goMenu()">
	    </button>
	  </ion-nav-buttons>
	  <ion-nav-buttons side="right">
	    <button class="button button-icon button-clear icon-right ion-checkmark fuente-total" ng-click="doPay()">
	    </button>
	  </ion-nav-buttons>		
	<ion-content>
		<div class="row pasos">
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Personal</div>
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Card</div>
			<div class="col-25 col"><span class="circle checked"><i class="icon ion-checkmark"></i></span>Confirm</div>
			<div class="col-25 col"><span class="circle active">4</span>Payment</div>
		</div>
		<header class="title padding">
			<h1>Payment</h1>
			<h2>Remember to rate the plates<h2>
		</header>
			<form name="">
				<div class="list">
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Would you like to add a tip:</span>
				    <input type="number" ng-model="tip.tip">
				  </label>
				</div>
			</form>
		<div class="order" ng-if="order.restaurant.name">
			<div class="restaurant padding">
				<h1>{{order.restaurant.name}}</h1>
				<!-- <h2>618 Brooklin boulevard Pittsburg, PA</h2> -->
			</div>
			<div class="plates">
				<div class="plate" ng-repeat="plate in order.order_plates">

					<div class="row options">
						<div class="col col-80">
							<div class="list">
							  <label class="item item-input item-select_">
							    <div class="input-label">
							      Quantity: {{plate.quantity}}
							    </div>
<!-- 								<select ng-model="plate.quantity" ng-options="toInt(key) as value for (key,value) in myOptions" ng-change="changeItem(plate.menu_item, order.restaurant)">
									<option value="">Select Value</option>
								</select> -->
							  </label>
							</div>
						</div>
						<div class="col col-20 order_price">
						</div>
					</div>
					<div class="row">
						<div class="col col-80" ng-controller="rateController">
							{{plate.menu_item.name}}
							<rating ng-model="rate" max="5" ng-change="hechanged(plate.menu_item.key)"></rating>
						</div>
						<div class="col col-20 order_price_">
							${{plate.menu_item.price | number:2}}
						</div>
					</div>
				</div>
			</div>
			<div class="totals">
				<div class="row">
					<div class="col col-80">
						Subtotal
					</div>
					<div class="col col-20 order_price_">
						${{order.total | number:2}}
					</div>
				</div>
<!-- 				<div class="row">
					<div class="col col-80">
						Delivery
					</div>
					<div class="col col-20 order_price">
						$13.99
					</div>
				</div> -->
				<div class="row">
					<div class="col col-80">
						Tax
					</div>
					<div class="col col-20 order_price_">
						${{order.tax_rate*order.total || 0 | number:2}}
					</div>
				</div>
 				<div class="row">
					<div class="col col-80">
						Tip
					</div>
					<div class="col col-20 order_price_">
						${{tip.tip | number:2}}
					</div>
				</div> 
				<div class="row">
					<div class="col col-80">
							Total
					</div>
					<div class="col col-20 order_price_">
						<strong>${{tip.tip+(order.total*(1+order.tax_rate)) | number:2}}</strong>
					</div>
				</div>
			</div>
		</div>			
	</ion-content>
</ion-view>